<launch>

  <arg name="launch_driver" default="true" />
  <arg name="use_concat_filter" default="true" />
  <arg name="use_radius_search" default="false" />
  <arg name="vehicle_param_file" />

  <group>
    <push-ros-namespace namespace="lidar"/>

    <group>
      <push-ros-namespace namespace="top"/>
      <include file="$(find-pkg-share sensing_launch)/launch/velodyne_VLP16.launch.xml">
        <arg name="sensor_frame" value="velodyne_top" />
        <arg name="device_ip" value="192.168.1.20"/>
        <arg name="port" value="2368"/>
        <arg name="launch_driver" value="$(var launch_driver)" />
      </include>
    </group>

    <group>
      <push-ros-namespace namespace="front_left"/>
      <include file="$(find-pkg-share sensing_launch)/launch/livox_horizon.launch.xml">
        <arg name="sensor_frame" value="livox_front_left" />
        <arg name="bd_list" value="$(env LIVOX_FRONT_LEFT_ID)" if="$(arg launch_driver)"/>
        <arg name="xfer_format" value="0"/>
        <arg name="launch_driver" value="$(var launch_driver)" />
        <arg name="vehicle_param_file" value="$(var vehicle_param_file)" />
      </include>
    </group>

    <group>
      <push-ros-namespace namespace="front_center"/>
      <include file="$(find-pkg-share sensing_launch)/launch/livox_horizon.launch.xml">
        <arg name="sensor_frame" value="livox_front_center" />
        <arg name="bd_list" value="$(env LIVOX_FRONT_CENTER_ID)" if="$(arg launch_driver)"/>
        <arg name="xfer_format" value="0"/>
        <arg name="launch_driver" value="$(var launch_driver)" />
        <arg name="vehicle_param_file" value="$(var vehicle_param_file)" />
      </include>
    </group>

    <group>
      <push-ros-namespace namespace="front_right"/>
      <include file="$(find-pkg-share sensing_launch)/launch/livox_horizon.launch.xml">
        <arg name="sensor_frame" value="livox_front_right" />
        <arg name="bd_list" value="$(env LIVOX_FRONT_RIGHT_ID)" if="$(arg launch_driver)"/>
        <arg name="xfer_format" value="0"/>
        <arg name="launch_driver" value="$(var launch_driver)" />
        <arg name="vehicle_param_file" value="$(var vehicle_param_file)" />
      </include>
    </group>


    <include file="$(find-pkg-share sensing_launch)/launch/aip_x1/pointcloud_preprocessor.launch.py">
      <arg name="base_frame" value="base_link" />
      <arg name="use_concat_filter" value="$(var use_concat_filter)" />
      <arg name="use_radius_search" value="$(var use_radius_search)" />
      <arg name="vehicle_param_file" value="$(var vehicle_param_file)" />
    </include>

  </group>
</launch>
