<?xml version="1.0"?>

<launch>
  <arg name="image_raw0" default="/image_raw"/>
  <arg name="camera_info0" default="/camera_info"/>
  <arg name="image_raw1" default=""/>
  <arg name="camera_info1" default=""/>
  <arg name="image_raw2" default=""/>
  <arg name="camera_info2" default=""/>
  <arg name="image_raw3" default=""/>
  <arg name="camera_info3" default=""/>
  <arg name="image_raw4" default=""/>
  <arg name="camera_info4" default=""/>
  <arg name="image_raw5" default=""/>
  <arg name="camera_info5" default=""/>
  <arg name="image_raw6" default=""/>
  <arg name="camera_info6" default=""/>
  <arg name="image_raw7" default=""/>
  <arg name="camera_info7" default=""/>
  <arg name="image_number" default="1"/>
  <arg name="use_vector_map" default="true"/>

  <!-- Jetson AGX -->
  <!-- <include file="$(find tensorrt_yolo)/launch/yolo.launch">
    <arg name="image_raw0" default="$(arg image_raw0)"/>
    <arg name="image_raw1" default="$(arg image_raw1)"/>
    <arg name="image_raw2" default="$(arg image_raw2)"/>
    <arg name="image_raw3" default="$(arg image_raw3)"/>
    <arg name="image_raw4" default="$(arg image_raw4)"/>
    <arg name="image_raw5" default="$(arg image_raw5)"/>
    <arg name="image_raw6" default="$(arg image_raw6)"/>
    <arg name="image_raw7" default="$(arg image_raw7)"/>
    <arg name="image_number" default="$(arg image_number)"/>
  </include> -->

  <group ns="euclidean" >
    <include file="$(find euclidean_cluster)/launch/voxel_grid_based_euclidean_cluster.launch" >
      <arg name="output/clusters" default="lidar/clusters"/>
    </include>
    <include file="$(find roi_cluster_fusion)/launch/roi_cluster_fusion.launch">
      <arg name="input/camera_info0" default="$(arg camera_info0)"/>
      <arg name="input/rois0" default="/perception/object_recognition/detection/rois0"/>
      <arg name="input/camera_info1" default="$(arg camera_info1)"/>
      <arg name="input/rois1" default="/perception/object_recognition/detection/rois1"/>
      <arg name="input/camera_info2" default="$(arg camera_info2)"/>
      <arg name="input/rois2" default="/perception/object_recognition/detection/rois2"/>
      <arg name="input/camera_info3" default="$(arg camera_info3)"/>
      <arg name="input/rois3" default="/perception/object_recognition/detection/rois3"/>
      <arg name="input/camera_info4" default="$(arg camera_info4)"/>
      <arg name="input/rois4" default="/perception/object_recognition/detection/rois4"/>
      <arg name="input/camera_info5" default="$(arg camera_info5)"/>
      <arg name="input/rois5" default="/perception/object_recognition/detection/rois5"/>
      <arg name="input/camera_info6" default="$(arg camera_info6)"/>
      <arg name="input/rois6" default="/perception/object_recognition/detection/rois6"/>
      <arg name="input/camera_info7" default="$(arg camera_info7)"/>
      <arg name="input/rois7" default="/perception/object_recognition/detection/rois7"/>
      <arg name="input/rois_number" default="$(arg image_number)"/>
      <arg name="input/clusters" default="lidar/clusters"/>
      <arg name="input/image0" default="$(arg image_raw0)"/>
      <arg name="input/image1" default="$(arg image_raw1)"/>
      <arg name="input/image2" default="$(arg image_raw2)"/>
      <arg name="input/image3" default="$(arg image_raw3)"/>
      <arg name="input/image4" default="$(arg image_raw4)"/>
      <arg name="input/image5" default="$(arg image_raw5)"/>
      <arg name="input/image6" default="$(arg image_raw6)"/>
      <arg name="input/image7" default="$(arg image_raw7)"/>
      <arg name="output" default="camera_lidar_fusion/clusters"/>
    </include>
    <include file="$(find shape_estimation)/launch/shape_estimation.launch">
      <arg name="use_map_corrent" default="$(arg use_vector_map)"/>
      <arg name="input/objects" default="camera_lidar_fusion/clusters" />
      <arg name="output/objects" default="camera_lidar_fusion/objects" />
      <arg name="orientation_reliable" default="false"/>
    </include>
    <include file="$(find object_range_splitter)/launch/object_range_splitter.launch">
      <arg name="input/object" default="camera_lidar_fusion/objects"/>
      <arg name="output/long_range_object" default="camera_lidar_fusion/long_range_objects"/>
      <arg name="output/short_range_object" default="camera_lidar_fusion/short_range_objects"/>
      <arg name="split_range" default="10"/>
    </include>
  </group>

  <group ns="apollo" >
    <include file="$(find lidar_apollo_instance_segmentation)/launch/lidar_apollo_instance_segmentation.launch">
      <arg name="output/objects" default="lidar/clusters"/>
    </include>
    <include file="$(find shape_estimation)/launch/shape_estimation.launch">
      <arg name="use_map_corrent" default="$(arg use_vector_map)"/>
      <arg name="input/objects" default="lidar/clusters" />
      <arg name="output/objects" default="lidar/objects" />
      <arg name="orientation_reliable" default="true"/>
    </include>
    <include file="$(find object_range_splitter)/launch/object_range_splitter.launch">
      <arg name="input/object" default="lidar/objects"/>
      <arg name="output/long_range_object" default="lidar/long_range_objects"/>
      <arg name="output/short_range_object" default="lidar/short_range_objects"/>
      <arg name="split_range" default="15"/>
    </include>
    <include file="$(find roi_cluster_fusion)/launch/roi_cluster_fusion.launch">
      <arg name="input/camera_info0" default="$(arg camera_info0)"/>
      <arg name="input/rois0" default="/perception/object_recognition/detection/rois0"/>
      <arg name="input/camera_info1" default="$(arg camera_info1)"/>
      <arg name="input/rois1" default="/perception/object_recognition/detection/rois1"/>
      <arg name="input/camera_info2" default="$(arg camera_info2)"/>
      <arg name="input/rois2" default="/perception/object_recognition/detection/rois2"/>
      <arg name="input/camera_info3" default="$(arg camera_info3)"/>
      <arg name="input/rois3" default="/perception/object_recognition/detection/rois3"/>
      <arg name="input/camera_info4" default="$(arg camera_info4)"/>
      <arg name="input/rois4" default="/perception/object_recognition/detection/rois4"/>
      <arg name="input/camera_info5" default="$(arg camera_info5)"/>
      <arg name="input/rois5" default="/perception/object_recognition/detection/rois5"/>
      <arg name="input/camera_info6" default="$(arg camera_info6)"/>
      <arg name="input/rois6" default="/perception/object_recognition/detection/rois6"/>
      <arg name="input/camera_info7" default="$(arg camera_info7)"/>
      <arg name="input/rois7" default="/perception/object_recognition/detection/rois7"/>
      <arg name="input/rois_number" default="$(arg image_number)"/>
      <arg name="input/clusters" default="lidar/short_range_objects"/>
      <arg name="output" default="camera_lidar_fusion/short_range_objects"/>
      <arg name="input/image0" default="$(arg image_raw0)"/>
      <arg name="input/image1" default="$(arg image_raw1)"/>
      <arg name="input/image2" default="$(arg image_raw2)"/>
      <arg name="input/image3" default="$(arg image_raw3)"/>
      <arg name="input/image4" default="$(arg image_raw4)"/>
      <arg name="input/image5" default="$(arg image_raw5)"/>
      <arg name="input/image6" default="$(arg image_raw6)"/>
      <arg name="input/image7" default="$(arg image_raw7)"/>
    </include>
    <include file="$(find object_merger)/launch/object_association_merger.launch">
      <arg name="input/object0" default="camera_lidar_fusion/short_range_objects"/>
      <arg name="input/object1" default="lidar/long_range_objects"/>
      <arg name="output/object" default="camera_lidar_fusion/objects"/>
    </include>
  </group>

  <include file="$(find object_merger)/launch/object_association_merger.launch">
    <arg name="input/object0" default="apollo/camera_lidar_fusion/objects"/>
    <arg name="input/object1" default="euclidean/camera_lidar_fusion/short_range_objects"/>
    <arg name="output/object" default="objects"/>
  </include>

</launch>
