<?xml version="1.0"?>

<launch>
  <arg name="image_raw0" default="/image_raw"/>
  <arg name="camera_info0" default="/camera_info"/>
  <arg name="image_raw1" default=""/>
  <arg name="camera_info1" default=""/>
  <arg name="image_raw2" default=""/>
  <arg name="camera_info2" default=""/>
  <arg name="image_raw3" default=""/>
  <arg name="camera_info3" default=""/>
  <arg name="image_raw4" default=""/>
  <arg name="camera_info4" default=""/>
  <arg name="image_raw5" default=""/>
  <arg name="camera_info5" default=""/>
  <arg name="image_raw6" default=""/>
  <arg name="camera_info6" default=""/>
  <arg name="image_raw7" default=""/>
  <arg name="camera_info7" default=""/>
  <arg name="image_number" default="1"/>
  <arg name="use_vector_map" default="true"/>

  <!-- Jetson AGX -->
  <!-- <include file="$(find-pkg-share tensorrt_yolo)/launch/yolo.launch.xml">
    <arg name="image_raw0" value="$(var image_raw0)"/>
    <arg name="image_raw1" value="$(var image_raw1)"/>
    <arg name="image_raw2" value="$(var image_raw2)"/>
    <arg name="image_raw3" value="$(var image_raw3)"/>
    <arg name="image_raw4" value="$(var image_raw4)"/>
    <arg name="image_raw5" value="$(var image_raw5)"/>
    <arg name="image_raw6" value="$(var image_raw6)"/>
    <arg name="image_raw7" value="$(var image_raw7)"/>
    <arg name="image_number" value="$(var image_number)"/>
  </include> -->

  <group>
    <push-ros-namespace namespace="euclidean"/>
    <include file="$(find-pkg-shareeuclidean_cluster)/launch/voxel_grid_based_euclidean_cluster.launch.xml" >
      <arg name="output/clusters" default="lidar/clusters"/>
    </include>
    <include file="$(find-pkg-shareroi_cluster_fusion)/launch/roi_cluster_fusion.launch.xml">
      <arg name="input_camera_info0" default="$(var camera_info0)"/>
      <arg name="input_rois0" default="/perception/object_recognition/detection/rois0"/>
      <arg name="input_camera_info1" default="$(var camera_info1)"/>
      <arg name="input_rois1" default="/perception/object_recognition/detection/rois1"/>
      <arg name="input_camera_info2" default="$(var camera_info2)"/>
      <arg name="input_rois2" default="/perception/object_recognition/detection/rois2"/>
      <arg name="input_camera_info3" default="$(var camera_info3)"/>
      <arg name="input_rois3" default="/perception/object_recognition/detection/rois3"/>
      <arg name="input_camera_info4" default="$(var camera_info4)"/>
      <arg name="input_rois4" default="/perception/object_recognition/detection/rois4"/>
      <arg name="input_camera_info5" default="$(var camera_info5)"/>
      <arg name="input_rois5" default="/perception/object_recognition/detection/rois5"/>
      <arg name="input_camera_info6" default="$(var camera_info6)"/>
      <arg name="input_rois6" default="/perception/object_recognition/detection/rois6"/>
      <arg name="input_camera_info7" default="$(var camera_info7)"/>
      <arg name="input_rois7" default="/perception/object_recognition/detection/rois7"/>
      <arg name="input_rois_number" default="$(var image_number)"/>
      <arg name="input_clusters" default="lidar/clusters"/>
      <arg name="output" default="camera_lidar_fusion/clusters"/>
    </include>
    <include file="$(find-pkg-shareshape_estimation)/launch/shape_estimation.launch.xml">
      <arg name="use_map_corrent" default="$(var use_vector_map)"/>
      <arg name="input/objects" default="camera_lidar_fusion/clusters" />
      <arg name="output/objects" default="camera_lidar_fusion/objects" />
      <arg name="orientation_reliable" default="false"/>
    </include>
    <include file="$(find-pkg-shareobject_range_splitter)/launch/object_range_splitter.launch.xml">
      <arg name="input/object" default="camera_lidar_fusion/objects"/>
      <arg name="output/long_range_object" default="camera_lidar_fusion/long_range_objects"/>
      <arg name="output/short_range_object" default="camera_lidar_fusion/short_range_objects"/>
      <arg name="split_range" default="10"/>
    </include>
  </group>

  <group>
    <push-ros-namespace namespace="apollo"/>
    <include file="$(find-pkg-sharelidar_apollo_instance_segmentation)/launch/lidar_apollo_instance_segmentation.launch.xml">
      <arg name="output/objects" default="lidar/clusters"/>
    </include>
    <include file="$(find-pkg-shareshape_estimation)/launch/shape_estimation.launch.xml">
      <arg name="use_map_corrent" default="$(var use_vector_map)"/>
      <arg name="input/objects" default="lidar/clusters" />
      <arg name="output/objects" default="lidar/objects" />
      <arg name="orientation_reliable" default="true"/>
    </include>
    <include file="$(find-pkg-shareobject_range_splitter)/launch/object_range_splitter.launch.xml">
      <arg name="input/object" default="lidar/objects"/>
      <arg name="output/long_range_object" default="lidar/long_range_objects"/>
      <arg name="output/short_range_object" default="lidar/short_range_objects"/>
      <arg name="split_range" default="15"/>
    </include>
    <include file="$(find-pkg-shareroi_cluster_fusion)/launch/roi_cluster_fusion.launch.xml">
      <arg name="input_camera_info0" default="$(var camera_info0)"/>
      <arg name="input_rois0" default="/perception/object_recognition/detection/rois0"/>
      <arg name="input_camera_info1" default="$(var camera_info1)"/>
      <arg name="input_rois1" default="/perception/object_recognition/detection/rois1"/>
      <arg name="input_camera_info2" default="$(var camera_info2)"/>
      <arg name="input_rois2" default="/perception/object_recognition/detection/rois2"/>
      <arg name="input_camera_info3" default="$(var camera_info3)"/>
      <arg name="input_rois3" default="/perception/object_recognition/detection/rois3"/>
      <arg name="input_camera_info4" default="$(var camera_info4)"/>
      <arg name="input_rois4" default="/perception/object_recognition/detection/rois4"/>
      <arg name="input_camera_info5" default="$(var camera_info5)"/>
      <arg name="input_rois5" default="/perception/object_recognition/detection/rois5"/>
      <arg name="input_camera_info6" default="$(var camera_info6)"/>
      <arg name="input_rois6" default="/perception/object_recognition/detection/rois6"/>
      <arg name="input_camera_info7" default="$(var camera_info7)"/>
      <arg name="input_rois7" default="/perception/object_recognition/detection/rois7"/>
      <arg name="input_rois_number" default="$(var image_number)"/>
      <arg name="input_clusters" default="lidar/short_range_objects"/>
      <arg name="output" default="camera_lidar_fusion/short_range_objects"/>
    </include>
    <include file="$(find-pkg-shareobject_merger)/launch/object_association_merger.launch.xml">
      <arg name="input/object0" default="camera_lidar_fusion/short_range_objects"/>
      <arg name="input/object1" default="lidar/long_range_objects"/>
      <arg name="output/object" default="camera_lidar_fusion/objects"/>
    </include>
  </group>

  <include file="$(find object_merger)/launch/object_association_merger.launch.xml">
    <arg name="input/object0" default="apollo/camera_lidar_fusion/objects"/>
    <arg name="input/object1" default="euclidean/camera_lidar_fusion/short_range_objects"/>
    <arg name="output/object" default="objects"/>
  </include>

</launch>
